/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #4f5153 !default;
$title-color: rgb(255, 136, 25);
$text-color: #fffbf6 !default;
$primary-color: #e46c0a !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(rgb(0, 0, 0), $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(rgb(255, 183, 100), $background-color, 100%) !default;
$link-color: mix($primary-color, $text-color, 70%) !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(rgb(134, 146, 214), $link-color, 100%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(rgb(255, 247, 239), $text-color, 20%) !default;
$navicon-link-color-hover: mix(rgb(0, 0, 0), $background-color, 30%) !default;
$blockquote-color: mix(rgb(189, 189, 189), 15%);

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,

.page__footer {
  color: rgb(58, 58, 58) !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
